#Articles

###Importar i analitzar

In [8]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [9]:
df = pd.read_excel('articles.xlsx')

In [10]:
df.head()

,Código,Nombre,Descripción,Pes,Coste
0,UFRED.FN.10X10X1,U FRED ferro negre 10x10x1,M.PRIMERA/TRASPAS EXCEL FERRO/FERRO/U XAPA,0.23,2.5
1,UFRED.FN.10X15X1,U FRED ferro negre 10x15x1,M.PRIMERA/TRASPAS EXCEL FERRO/FERRO/U XAPA,0.36,2.5
2,UFRED.FN.15X10X1,U FRED ferro negre 15x10x1,M.PRIMERA/TRASPAS EXCEL FERRO/FERRO/U XAPA,0.42,2.5
3,UFRED.FN.15X12X1,U FRED ferro negre 15x12x1,M.PRIMERA/TRASPAS EXCEL FERRO/FERRO/U XAPA,0.48,2.5
4,UFRED.FN.15X12X1.5,U FRED ferro negre 15x12x1.5,M.PRIMERA/TRASPAS EXCEL FERRO/FERRO/U XAPA,0.49,2.5

In [17]:
df['Descripción'].unique()

array(['M.PRIMERA/TRASPAS EXCEL FERRO/FERRO/U XAPA',
       'M.PRIMERA/TRASPAS EXCEL FERRO/INOX/U XAPA 04 BRUT',
       'M.PRIMERA/TRASPAS EXCEL FERRO/INOX/U XAPA 04 SATI',
       'M.PRIMERA/TRASPAS EXCEL FERRO/INOX/U XAPA 04 BRILL',
       'M.PRIMERA/TRASPAS EXCEL FERRO/INOX/U XAPA 16 BRUT',
       'M.PRIMERA/TRASPAS EXCEL FERRO/INOX/U XAPA 16 SATI',
       'M.PRIMERA/TRASPAS EXCEL FERRO/INOX/U XAPA 16 BRILL',
       'M.PRIMERA/TRASPAS EXCEL FERRO/FERRO/PERFRISA FN',
       'M.PRIMERA/TRASPAS EXCEL FERRO/FERRO/PERFRISA GV',
       'M.PRIMERA/TRASPAS EXCEL FERRO/FERRO/BIGUES',
       'M.PRIMERA/TRASPAS EXCEL FERRO/FERRO/MASSISOS FN',
       'M.PRIMERA/TRASPAS EXCEL FERRO/INOX/MASSISSOS 04 BRUT',
       'M.PRIMERA/TRASPAS EXCEL FERRO/INOX/MASSISSOS 04 SATI',
       'M.PRIMERA/TRASPAS EXCEL FERRO/INOX/MASSISSOS 04 BRILL',
       'M.PRIMERA/TRASPAS EXCEL FERRO/INOX/MASSISSOS 16 BRUT',
       'M.PRIMERA/TRASPAS EXCEL FERRO/INOX/MASSISSOS 16 SATI',
       'M.PRIMERA/TRASPAS EXCEL FERRO/INOX/MASSISSOS 16 BRILL',
       'M.PRIMERA/TRASPAS EXCEL FERRO/FERRO/T FN',
       'M.PRIMERA/TRASPAS EXCEL FERRO/FERRO/L FN',
       'M.PRIMERA/TRASPAS EXCEL FERRO/FERRO/L GV',
       'M.PRIMERA/TRASPAS EXCEL FERRO/INOX/L 04 BRUT',
       'M.PRIMERA/TRASPAS EXCEL FERRO/INOX/L16 BRUT',
       'M.PRIMERA/TRASPAS EXCEL FERRO/FERRO/XAPES FN',
       'M.PRIMERA/TRASPAS EXCEL FERRO/FERRO/XAPES GV',
       'M.PRIMERA/TRASPAS EXCEL FERRO/FERRO/XAPES COR',
       'M.PRIMERA/TRASPAS EXCEL FERRO/FERRO/TUBS ROD FN',
       'M.PRIMERA/TRASPAS EXCEL FERRO/INOX/TUB ROD 04 BRUT',
       'M.PRIMERA/TRASPAS EXCEL FERRO/INOX/TUB ROD 04 SATI',
       'M.PRIMERA/TRASPAS EXCEL FERRO/INOX/TUB ROD 04 BRILL',
       'M.PRIMERA/TRASPAS EXCEL FERRO/INOX/TUB ROD 16 BRUT',
       'M.PRIMERA/TRASPAS EXCEL FERRO/INOX/TUB ROD 16 SATI',
       'M.PRIMERA/TRASPAS EXCEL FERRO/INOX/TUB ROD 16 BRILL',
       'M.PRIMERA/TRASPAS EXCEL FERRO/FERRO/TUBS ROD COR',
       'M.PRIMERA/TRASPAS EXCEL FERRO/FERRO/TUBS ROD GV',
       'M.PRIMERA/TRASPAS EXCEL FERRO/FERRO/TUBS RECT FN',
       'M.PRIMERA/TRASPAS EXCEL FERRO/INOX/TUB RECT 04 BRUT',
       'M.PRIMERA/TRASPAS EXCEL FERRO/INOX/TUB RECT 04 SATI',
       'M.PRIMERA/TRASPAS EXCEL FERRO/INOX/TUB RECT 04 BRILL',
       'M.PRIMERA/TRASPAS EXCEL FERRO/INOX/TUB RECT 16 BRUT',
       'M.PRIMERA/TRASPAS EXCEL FERRO/INOX/TUB RECT 16 SATI',
       'M.PRIMERA/TRASPAS EXCEL FERRO/INOX/TUB RECT 16 BRILL',
       'M.PRIMERA/TRASPAS EXCEL FERRO/FERRO/TUBS QUADR COR',
       'M.PRIMERA/TRASPAS EXCEL FERRO/FERRO/TUBS RECT GV',
       'M.PRIMERA/TRASPAS EXCEL FERRO/FERRO/TUBS QUADR FN',
       'M.PRIMERA/TRASPAS EXCEL FERRO/INOX/TUB QUADR 04 BRUT',
       'M.PRIMERA/TRASPAS EXCEL FERRO/INOX/TUB QUADR 04 SATI',
       'M.PRIMERA/TRASPAS EXCEL FERRO/INOX/TUB QUADR 04 BRILL',
       'M.PRIMERA/TRASPAS EXCEL FERRO/INOX/TUB QUADR 16 BRUT',
       'M.PRIMERA/TRASPAS EXCEL FERRO/INOX/TUB QUADR 16 SATI',
       'M.PRIMERA/TRASPAS EXCEL FERRO/INOX/TUB QUADR 16 BRILL',
       'M.PRIMERA/TRASPAS EXCEL FERRO/FERRO/TUBS QUADR GV',
       'M.PRIMERA/TRASPAS EXCEL FERRO/FERRO/PASSAMÀ FN',
       'M.PRIMERA/TRASPAS EXCEL FERRO/INOX/PASSAMÀ 04 BRUT',
       'M.PRIMERA/TRASPAS EXCEL FERRO/INOX/PASSAMÀ 04 SATI',
       'M.PRIMERA/TRASPAS EXCEL FERRO/INOX/PASSAMÀ 04 BRILL',
       'M.PRIMERA/TRASPAS EXCEL FERRO/INOX/PASSAMÀ 16 BRUT',
       'M.PRIMERA/TRASPAS EXCEL FERRO/INOX/PASSAMÀ 16 SATI',
       'M.PRIMERA/TRASPAS EXCEL FERRO/INOX/PASSAMÀ 16 BRILL'],
      dtype=object)

In [18]:
all_families = df['Descripción'].unique()
all_families = pd.unique(all_families)
len(all_families)

58

Tinc 58 families de articles.

###Vull canviar preu de familia M.PRIMERA/TRASPAS EXCEL FERRO/FERRO/U XAPA

In [22]:
new_df = df[df['Descripción'] == 'M.PRIMERA/TRASPAS EXCEL FERRO/FERRO/U XAPA']
new_df.head()

,Código,Nombre,Descripción,Pes,Coste
0,UFRED.FN.10X10X1,U FRED ferro negre 10x10x1,M.PRIMERA/TRASPAS EXCEL FERRO/FERRO/U XAPA,0.23,2.5
1,UFRED.FN.10X15X1,U FRED ferro negre 10x15x1,M.PRIMERA/TRASPAS EXCEL FERRO/FERRO/U XAPA,0.36,2.5
2,UFRED.FN.15X10X1,U FRED ferro negre 15x10x1,M.PRIMERA/TRASPAS EXCEL FERRO/FERRO/U XAPA,0.42,2.5
3,UFRED.FN.15X12X1,U FRED ferro negre 15x12x1,M.PRIMERA/TRASPAS EXCEL FERRO/FERRO/U XAPA,0.48,2.5
4,UFRED.FN.15X12X1.5,U FRED ferro negre 15x12x1.5,M.PRIMERA/TRASPAS EXCEL FERRO/FERRO/U XAPA,0.49,2.5

In [29]:
final_df = new_df.assign(Coste=2.7)
final_df.head()

,Código,Nombre,Descripción,Pes,Coste
0,UFRED.FN.10X10X1,U FRED ferro negre 10x10x1,M.PRIMERA/TRASPAS EXCEL FERRO/FERRO/U XAPA,0.23,2.7
1,UFRED.FN.10X15X1,U FRED ferro negre 10x15x1,M.PRIMERA/TRASPAS EXCEL FERRO/FERRO/U XAPA,0.36,2.7
2,UFRED.FN.15X10X1,U FRED ferro negre 15x10x1,M.PRIMERA/TRASPAS EXCEL FERRO/FERRO/U XAPA,0.42,2.7
3,UFRED.FN.15X12X1,U FRED ferro negre 15x12x1,M.PRIMERA/TRASPAS EXCEL FERRO/FERRO/U XAPA,0.48,2.7
4,UFRED.FN.15X12X1.5,U FRED ferro negre 15x12x1.5,M.PRIMERA/TRASPAS EXCEL FERRO/FERRO/U XAPA,0.49,2.7

El preu de la familia s'ha canviat de 2.5 a 2.7, podem exportar a excel.

In [30]:
final_df.to_excel('articles_actuals.xlsx', sheet_name='Sheet1')